.app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 20%;
}

.NasaLogo {
  width: 100px;
  height: 50;
  margin-bottom: 16px;
}

@media screen and (max-width: 400px) {
  .app {
    padding-top: 48px;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
  }
}
