.form {
  width: fit-content;
  position: relative;
}

.form__searchField {
  width: 350px;
  max-width: 100%;
  padding: 8px;
  background-color: white;
  border-radius: 16px;
  border: 1px solid rgb(140, 143, 182);
}

.form__button {
  position: absolute;
  color: rgb(93, 93, 93);
  background-color: transparent;
  border: none;
  right: 8px;
  top: 10%;
  cursor: pointer;
}

.form__button:hover {
  color: #d92906;
}

@media screen and (max-width: 400px) {
  .form {
    max-width: 100%;
    display: flex;
  }
  .form__searchField {
    max-width: 100%;
    margin-bottom: 16px;
  }

  .form__button {
    right: 8px;
  }
}
